<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestAll">

	<test name="order">
		<classes>
		    <class name="bluAndroid.bluAndroid.TestScripts.CreateRequestTestRunner" />
		    <class name="bluAndroid.bluAndroid.TestScripts.RewardsTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.BluLoginTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.BluSignUpTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.BluMyDetailsTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.PublicProfileTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.WalletTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.CheckOutWithBluTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.SavedLocationsTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.CreateBookingTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.LogoutTestRunner" />
			<class name="bluAndroid.bluAndroid.TestScripts.CreateBookingViaRequestTestRunner" />
		</classes>
	</test>

	

</suite>